Repository apollographql/apollo-rs, pull requests merged in 2022-04, with the labels that each got.

#197 fix: use fragment definitions and fill it in the document
  crates/apollo-smith/src/document.rs
Labels: apollo-smith

#203 apollo-parser: directive locations are now parsed correctly with a leading |
  crates/apollo-parser/src/parser/grammar/directive.rs
Labels: apollo-parser

#202 Introduce apollo-compiler crate: beginnings of a incremental, query-based compiler for graphql
  Cargo.toml
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/LICENSE-APACHE
  crates/apollo-compiler/LICENSE-MIT
  crates/apollo-compiler/examples/hello_world.rs
  crates/apollo-compiler/examples/query_with_errors.graphql
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/queries/database.rs
  crates/apollo-compiler/src/queries/mod.rs
  crates/apollo-compiler/src/queries/values.rs
  crates/apollo-compiler/src/tests.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/src/validation/operations.rs
  crates/apollo-compiler/src/validation/unused_implements_interfaces.rs
  crates/apollo-compiler/src/validation/unused_variables.rs
  crates/apollo-compiler/test_data/err/0001_duplicate_operatoin_names.graphql
  crates/apollo-compiler/test_data/err/0001_duplicate_operatoin_names.txt
  crates/apollo-compiler/test_data/err/0002_multiple_anonymous_operations.graphql
  crates/apollo-compiler/test_data/err/0002_multiple_anonymous_operations.txt
  crates/apollo-compiler/test_data/err/0003_anonymous_and_named_operation.graphql
  crates/apollo-compiler/test_data/err/0003_anonymous_and_named_operation.txt
  crates/apollo-compiler/test_data/err/0004_subscription_with_multiple_root_fields.graphql
  crates/apollo-compiler/test_data/err/0004_subscription_with_multiple_root_fields.txt
  crates/apollo-compiler/test_data/err/0005_subscription_with_multiple_root_fields_in_fragment_spreads.graphql
  crates/apollo-compiler/test_data/err/0005_subscription_with_multiple_root_fields_in_fragment_spreads.txt
  crates/apollo-compiler/test_data/err/0006_subscription_with_multiple_root_fields_in_inline_fragments.graphql
  crates/apollo-compiler/test_data/err/0006_subscription_with_multiple_root_fields_in_inline_fragments.txt
  crates/apollo-compiler/test_data/err/0007_operation_with_undefined_variables.graphql
  crates/apollo-compiler/test_data/err/0007_operation_with_undefined_variables.txt
  crates/apollo-compiler/test_data/err/0008_operation_with_undefined_variables_in_inline_fragment.graphql
  crates/apollo-compiler/test_data/err/0008_operation_with_undefined_variables_in_inline_fragment.txt
  crates/apollo-compiler/test_data/err/0009_operation_with_undefined_variables_in_fragment.graphql
  crates/apollo-compiler/test_data/err/0009_operation_with_undefined_variables_in_fragment.txt
  crates/apollo-compiler/test_data/err/0010_operation_with_unused_variable.graphql
  crates/apollo-compiler/test_data/err/0010_operation_with_unused_variable.txt
  crates/apollo-compiler/test_data/err/0011_syntactic_errors_from_parser.graphql
  crates/apollo-compiler/test_data/err/0011_syntactic_errors_from_parser.txt
  crates/apollo-compiler/test_data/ok/0001_annonymous_operation_definition.graphql
  crates/apollo-compiler/test_data/ok/0001_annonymous_operation_definition.txt
  crates/apollo-compiler/test_data/ok/0002_multiple_named_operation_definitions.graphql
  crates/apollo-compiler/test_data/ok/0002_multiple_named_operation_definitions.txt
Labels: apollo-compiler

#208 feat(apollo-encoder): default setters accept String as parameter
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/src/input_field.rs
  crates/apollo-encoder/src/input_object_def.rs
  crates/apollo-encoder/src/input_value.rs
  crates/apollo-encoder/src/variable.rs
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/src/input_value.rs
  crates/apollo-smith/src/variable.rs
Labels: apollo-smith, apollo-encoder
