Repository apollographql/apollo-rs, pull requests merged in 2022-02, with the labels that each got.

#160 apollo-parser: update operation definition tests for #158
  crates/apollo-parser/src/parser/grammar/operation.rs
  crates/apollo-parser/test_data/parser/err/0030_operation_definition_with_description.graphql
  crates/apollo-parser/test_data/parser/err/0030_operation_definition_with_description.txt
Labels: apollo-parser

#165 chore(apollo-parser): extra fragments in operation definition test cases
  crates/apollo-parser/test_data/parser/ok/0006_selection_with_fragment_spread.graphql
  crates/apollo-parser/test_data/parser/ok/0006_selection_with_fragment_spread.txt
Labels: apollo-parser

#166 chore(apollo-encoder): create CHANGELOG.md
  crates/apollo-encoder/CHANGELOG.md
Labels: apollo-encoder

#162 apollo-encoder: align encoder closer to graphql specs #161
  crates/apollo-encoder/README.md
  crates/apollo-encoder/src/argument.rs
  crates/apollo-encoder/src/directive.rs
  crates/apollo-encoder/src/directive_def.rs
  crates/apollo-encoder/src/document.rs
  crates/apollo-encoder/src/enum_def.rs
  crates/apollo-encoder/src/enum_value.rs
  crates/apollo-encoder/src/field.rs
  crates/apollo-encoder/src/fragment.rs
  crates/apollo-encoder/src/input_field.rs
  crates/apollo-encoder/src/input_object_def.rs
  crates/apollo-encoder/src/input_value.rs
  crates/apollo-encoder/src/interface_def.rs
  crates/apollo-encoder/src/lib.rs
  crates/apollo-encoder/src/object_def.rs
  crates/apollo-encoder/src/operation.rs
  crates/apollo-encoder/src/scalar_def.rs
  crates/apollo-encoder/src/schema.rs
  crates/apollo-encoder/src/schema_def.rs
  crates/apollo-encoder/src/selection_set.rs
  crates/apollo-encoder/src/union_def.rs
  crates/apollo-encoder/src/value.rs
  crates/apollo-encoder/src/variable.rs
Labels: apollo-encoder

#172 fix(apollo-parser): variable definition has optional directives
  crates/apollo-parser/src/ast/generated/nodes.rs
  crates/apollo-parser/test_data/parser/ok/0039_variable_with_directives.graphql
  crates/apollo-parser/test_data/parser/ok/0039_variable_with_directives.txt
  graphql.ungram
Labels: apollo-parser

#168 feat(apollo-smith): implement a graphql test case generator
  ARCHITECTURE.md
  Cargo.toml
  README.md
  crates/apollo-encoder/src/string_value.rs
  crates/apollo-parser/src/lexer/mod.rs
  crates/apollo-parser/src/lib.rs
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/LICENSE-APACHE
  crates/apollo-smith/LICENSE-MIT
  crates/apollo-smith/README.md
  crates/apollo-smith/src/argument.rs
  crates/apollo-smith/src/description.rs
  crates/apollo-smith/src/directive.rs
  crates/apollo-smith/src/document.rs
  crates/apollo-smith/src/enum_.rs
  crates/apollo-smith/src/field.rs
  crates/apollo-smith/src/fragment.rs
  crates/apollo-smith/src/input_object.rs
  crates/apollo-smith/src/input_value.rs
  crates/apollo-smith/src/interface.rs
  crates/apollo-smith/src/lib.rs
  crates/apollo-smith/src/name.rs
  crates/apollo-smith/src/object.rs
  crates/apollo-smith/src/operation.rs
  crates/apollo-smith/src/scalar.rs
  crates/apollo-smith/src/schema.rs
  crates/apollo-smith/src/selection_set.rs
  crates/apollo-smith/src/ty.rs
  crates/apollo-smith/src/union.rs
  crates/apollo-smith/src/variable.rs
  fuzz/Cargo.toml
  fuzz/fuzz_targets/lexer.rs
  fuzz/fuzz_targets/parser.rs
  fuzz/src/lib.rs
Labels: apollo-smith

#176 apollo-encoder@0.2.1
  crates/apollo-encoder/CHANGELOG.md
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/README.md
  crates/apollo-smith/Cargo.toml
Labels: apollo-encoder

#178 apollo-parser@0.2.3 changelog additions
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/src/lib.rs
Labels: apollo-parser

#181 apollo-smith@0.1.0
  crates/apollo-smith/CHANGELOG.md
  crates/apollo-smith/README.md
Labels: apollo-smith
