Repository apollographql/apollo-rs, pull requests merged in 2022-11, with the labels that each got.

#340 apollo-compiler@0.3.0
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/README.md
Labels: apollo-compiler

#344 Extend ast::*Value node conversions
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/src/ast/node_ext.rs
Labels: apollo-parser

#345 apollo-smith@0.1.4
  crates/apollo-smith/CHANGELOG.md
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/README.md
Labels: apollo-smith

#346 docs(parser): example of modifying queries with parser + encoder
  crates/apollo-encoder/Cargo.toml
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/examples/modify_query_using_parser_and_encoder.rs
Labels: apollo-parser

#348 apollo-parser@0.3.1
  crates/apollo-encoder/Cargo.toml
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/README.md
  crates/apollo-smith/Cargo.toml
Labels: apollo-parser

#349 apollo-encoder@0.3.4
  crates/apollo-encoder/CHANGELOG.md
  crates/apollo-encoder/Cargo.toml
Labels: apollo-encoder

#350 apollo-smith@0.1.5
  crates/apollo-smith/CHANGELOG.md
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/README.md
Labels: apollo-smith

#355 feat(compiler): find any definitions with a specified directive
  crates/apollo-compiler/src/database/document.rs
Labels: apollo-compiler

#357 fix(parser): fix lexing escaped and unicode characters in block strings
  crates/apollo-parser/src/lexer/mod.rs
  crates/apollo-parser/test_data/lexer/ok/0004_string_value.graphql
  crates/apollo-parser/test_data/lexer/ok/0004_string_value.txt
  crates/apollo-parser/test_data/lexer/ok/0008_block_string.graphql
  crates/apollo-parser/test_data/lexer/ok/0008_block_string.txt
  crates/apollo-parser/test_data/lexer/ok/0011_escaped_char.graphql
  crates/apollo-parser/test_data/lexer/ok/0011_escaped_char.txt
Labels: apollo-parser

#360 apollo-parser@0.3.2
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/README.md
Labels: apollo-parser

#364 chore(compiler): Avoid double lookup in `SchemaDefinition::query/mutation/subscription`
  crates/apollo-compiler/src/database/hir.rs
Labels: apollo-compiler

#369 Add extension definitions to the HIR and subtype queries
  crates/apollo-compiler/src/database/document.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/validation/validation_db.rs
Labels: apollo-compiler

#371 feat(parser,smith): make the conversions to native types fallible
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-encoder/src/from_parser.rs
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/src/ast/node_ext.rs
  crates/apollo-parser/src/parser/grammar/value.rs
  crates/apollo-smith/CHANGELOG.md
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/src/argument.rs
  crates/apollo-smith/src/directive.rs
  crates/apollo-smith/src/document.rs
  crates/apollo-smith/src/enum_.rs
  crates/apollo-smith/src/field.rs
  crates/apollo-smith/src/fragment.rs
  crates/apollo-smith/src/input_object.rs
  crates/apollo-smith/src/input_value.rs
  crates/apollo-smith/src/interface.rs
  crates/apollo-smith/src/lib.rs
  crates/apollo-smith/src/object.rs
  crates/apollo-smith/src/operation.rs
  crates/apollo-smith/src/scalar.rs
  crates/apollo-smith/src/schema.rs
  crates/apollo-smith/src/selection_set.rs
  crates/apollo-smith/src/union.rs
Labels: apollo-parser
