Repository apollographql/apollo-rs, pull requests merged in 2022-10, with the labels that each got.

#328 feat(compiler): pub compiler storage
  crates/apollo-compiler/examples/extend_db.rs
  crates/apollo-compiler/src/database/db.rs
  crates/apollo-compiler/src/database/def.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/database/mod.rs
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/src/validation/validation_db.rs
Labels: apollo-compiler

#329 feat(encoder): provide TryFrom<parser types> for encoder types
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/src/directive_def.rs
  crates/apollo-encoder/src/fragment.rs
  crates/apollo-encoder/src/from_parser.rs
  crates/apollo-encoder/src/lib.rs
Labels: apollo-encoder

#333 Add subtype_map and is_subtype queries
  crates/apollo-compiler/src/database/document.rs
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/database/mod.rs
Labels: apollo-compiler

#334 apollo-parser@0.3.0
  crates/apollo-compiler/Cargo.toml
  crates/apollo-encoder/Cargo.toml
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/README.md
  crates/apollo-smith/Cargo.toml
Labels: apollo-parser

#335 chore(encoder): upgrade to apollo-parser@0.3.0
  crates/apollo-compiler/Cargo.toml
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/src/from_parser.rs
Labels: apollo-encoder

#332 fix(compiler): use correct snapshot type
  crates/apollo-compiler/src/lib.rs
Labels: apollo-compiler

#337 apollo-encoder@0.3.3
  crates/apollo-encoder/CHANGELOG.md
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/README.md
Labels: apollo-encoder
