Repository apollographql/apollo-rs, pull requests merged in 2022-03, with the labels that each got.

#189 fix(apollo-parser): add repeatable kw support in ungrammar
  crates/apollo-parser/src/ast/generated/nodes.rs
  crates/apollo-parser/src/parser/grammar/directive.rs
  graphql.ungram
Labels: bug, apollo-parser

#190 apollo-parser@0.2.4
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/README.md
Labels: apollo-parser

#191 fix(apollo-encoder): display alias on fields
  crates/apollo-encoder/src/field.rs
  crates/apollo-encoder/src/fragment.rs
  crates/apollo-encoder/src/selection_set.rs
Labels: bug, apollo-encoder
