Repository apollographql/apollo-rs, pull requests merged in 2023-09, with the labels that each got.

#642 fix(compiler): validate input value types
  crates/apollo-compiler/README.md
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/validation/field.rs
  crates/apollo-compiler/src/validation/input_object.rs
  crates/apollo-compiler/src/validation/variable.rs
  crates/apollo-compiler/test_data/diagnostics/0002_multiple_anonymous_operations.txt
  crates/apollo-compiler/test_data/diagnostics/0003_anonymous_and_named_operation.txt
  crates/apollo-compiler/test_data/diagnostics/0040_operation_with_undefined_fields_on_reference_type.txt
  crates/apollo-compiler/test_data/diagnostics/0042_mutation_operation_with_undefined_fields.txt
  crates/apollo-compiler/test_data/diagnostics/0056_variables_are_input_types.txt
  crates/apollo-compiler/test_data/diagnostics/0083_type_introspection_from_disallowed_type.txt
  crates/apollo-compiler/test_data/diagnostics/0103_invalid_type_in_arg.graphql
  crates/apollo-compiler/test_data/diagnostics/0103_invalid_type_in_arg.txt
  crates/apollo-compiler/test_data/ok/0003_schema_definition_with_custom_operation_types.graphql
  crates/apollo-compiler/test_data/ok/0003_schema_definition_with_custom_operation_types.txt
  crates/apollo-compiler/test_data/ok/0010_operation_with_defined_fields.graphql
  crates/apollo-compiler/test_data/ok/0010_operation_with_defined_fields.txt
Labels: bug, apollo-compiler

#646 Fix integer lexing
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/src/lexer/mod.rs
  crates/apollo-parser/test_data/lexer/err/0014_plus_sign.graphql
  crates/apollo-parser/test_data/lexer/err/0014_plus_sign.txt
  crates/apollo-parser/test_data/lexer/err/0015_minus_sign.graphql
  crates/apollo-parser/test_data/lexer/err/0015_minus_sign.txt
Labels: bug, apollo-parser

#653 fix(parser): closing bracket for list type is not optional
  crates/apollo-parser/src/parser/grammar/ty.rs
  crates/apollo-parser/test_data/parser/err/0044_list_type_with_no_type.txt
  crates/apollo-parser/test_data/parser/err/0048_unbalanced_list_type_1.graphql
  crates/apollo-parser/test_data/parser/err/0048_unbalanced_list_type_1.txt
  crates/apollo-parser/test_data/parser/err/0049_unbalanced_list_type_2.graphql
  crates/apollo-parser/test_data/parser/err/0049_unbalanced_list_type_2.txt
Labels: bug, apollo-parser

#654 fix(deps): update rust crate ordered-float to v4
  crates/apollo-compiler/Cargo.toml
Labels: dependencies

#651 Validation: get locations from AST instead of CST
  crates/apollo-compiler/src/ast/from_cst.rs
  crates/apollo-compiler/src/ast/impls.rs
  crates/apollo-compiler/src/ast/mod.rs
  crates/apollo-compiler/src/ast/serialize.rs
  crates/apollo-compiler/src/node.rs
  crates/apollo-compiler/src/schema/from_ast.rs
  crates/apollo-compiler/src/schema/mod.rs
  crates/apollo-compiler/src/schema/serialize.rs
  crates/apollo-compiler/src/validation/argument.rs
  crates/apollo-compiler/src/validation/directive.rs
  crates/apollo-compiler/src/validation/fragment.rs
  crates/apollo-compiler/src/validation/input_object.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/src/validation/schema.rs
  crates/apollo-compiler/src/validation/validation_db.rs
  crates/apollo-compiler/src/validation/value.rs
  crates/apollo-compiler/src/validation/variable.rs
Labels: apollo-compiler

#650 Introduce ast::IntValue and FloatValue containing a String
  crates/apollo-compiler/src/ast/from_cst.rs
  crates/apollo-compiler/src/ast/impls.rs
  crates/apollo-compiler/src/ast/mod.rs
  crates/apollo-compiler/src/ast/serialize.rs
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/validation/value.rs
Labels: apollo-compiler

#665 Ignore component origin in == and hash, turn some maps into sets
  crates/apollo-compiler/src/schema/component.rs
  crates/apollo-compiler/src/schema/from_ast.rs
  crates/apollo-compiler/src/schema/mod.rs
  crates/apollo-compiler/src/schema/serialize.rs
  crates/apollo-compiler/src/validation/fragment.rs
  crates/apollo-compiler/src/validation/interface.rs
  crates/apollo-compiler/tests/merge_schemas.rs
  fuzz/fuzz_targets/reparse.rs
Labels: apollo-compiler
