Repository apollographql/apollo-rs, pull requests merged in 2023-08, with the labels that each got.

#622 apollo-compiler@0.11.0
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/README.md
  crates/apollo-encoder/Cargo.toml
Labels: apollo-compiler

#623 apollo-encoder@0.7.0
  crates/apollo-encoder/CHANGELOG.md
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/README.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-smith/Cargo.toml
Labels: apollo-encoder

#637 fix(deps): update rust crate clap to 4.4.0
  xtask/Cargo.toml
Labels: dependencies
