Repository apollographql/apollo-rs, pull requests merged in 2023-10, with the labels that each got.

#685 feat(apollo-parser, apollo-compiler): support parsing and validating FieldSet
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/src/ast/from_cst.rs
  crates/apollo-compiler/src/ast/mod.rs
  crates/apollo-compiler/src/executable/from_ast.rs
  crates/apollo-compiler/src/executable/mod.rs
  crates/apollo-compiler/src/executable/serialize.rs
  crates/apollo-compiler/src/executable/validation.rs
  crates/apollo-compiler/src/parser.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/src/validation/operation.rs
  crates/apollo-compiler/tests/field_set.rs
  crates/apollo-compiler/tests/main.rs
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/src/parser/grammar/mod.rs
  crates/apollo-parser/src/parser/grammar/selection.rs
  crates/apollo-parser/src/parser/mod.rs
  crates/apollo-parser/src/parser/syntax_tree.rs
Labels: apollo-compiler

#698 feat(compiler): add get_line_column for Diagnostic
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/parser.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/tests/validation/mod.rs
Labels: apollo-compiler

#706 apollo-encoder@0.8.0
  crates/apollo-encoder/CHANGELOG.md
  crates/apollo-encoder/Cargo.toml
  crates/apollo-encoder/README.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-smith/Cargo.toml
Labels: apollo-encoder

#707 apollo-smith@0.5.0
  crates/apollo-smith/CHANGELOG.md
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/README.md
Labels: apollo-smith

#714 fix(deps): update rust crate uuid to 1.5
  crates/apollo-compiler/Cargo.toml
Labels: dependencies
