Repository apollographql/apollo-rs, pull requests merged in 2023-11, with the labels that each got.

#720 apollo-parser@0.7.2
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/README.md
Labels: apollo-parser

#721 chore(parser): remove recursion when parsing non-nested lists of nodes
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/src/parser/grammar/argument.rs
  crates/apollo-parser/src/parser/grammar/directive.rs
  crates/apollo-parser/src/parser/grammar/document.rs
  crates/apollo-parser/src/parser/grammar/enum_.rs
  crates/apollo-parser/src/parser/grammar/input.rs
  crates/apollo-parser/src/parser/grammar/object.rs
  crates/apollo-parser/src/parser/grammar/union_.rs
  crates/apollo-parser/src/parser/grammar/value.rs
  crates/apollo-parser/src/parser/grammar/variable.rs
  crates/apollo-parser/test_data/parser/err/0002_enum_definition_with_missing_name.txt
  crates/apollo-parser/test_data/parser/err/0004_enum_definition_with_missing_curly.txt
  crates/apollo-parser/test_data/parser/err/0005_enum_extension_with_missing_name.txt
  crates/apollo-parser/test_data/parser/err/0010_input_definition_with_missing_name.txt
  crates/apollo-parser/test_data/parser/err/0012_input_extension_with_missing_name.txt
  crates/apollo-parser/test_data/parser/err/0020_union_definition_with_missing_name.txt
  crates/apollo-parser/test_data/parser/err/0022_union_extension_with_missing_name.txt
  crates/apollo-parser/test_data/parser/err/0026_invalid_definition_squished_between_two_valid_definitions.txt
  crates/apollo-parser/test_data/parser/err/0031_argument_with_erronous_string_value.txt
  crates/apollo-parser/test_data/parser/err/0032_input_value_with_erronous_string_value.txt
  crates/apollo-parser/test_data/parser/err/0033_directive_with_erronous_string_value.txt
  crates/apollo-parser/test_data/parser/err/0034_unterminated_string_value_in_list.txt
  crates/apollo-parser/test_data/parser/err/0035_unterminated_string_value_in_object_value.txt
  crates/apollo-parser/test_data/parser/err/0036_unterminated_string_in_default_value.txt
  crates/apollo-parser/test_data/parser/err/0050_invalid_implements_list.graphql
  crates/apollo-parser/test_data/parser/err/0050_invalid_implements_list.txt
  crates/apollo-parser/test_data/parser/err/0051_union_with_invalid_members_list.graphql
  crates/apollo-parser/test_data/parser/err/0051_union_with_invalid_members_list.txt
  crates/apollo-parser/test_data/parser/ok/0008_directive_definition_with_arguments.txt
  crates/apollo-parser/test_data/parser/ok/0009_directive_definition_repeatable.txt
  crates/apollo-parser/test_data/parser/ok/0010_enum_type_definition.txt
  crates/apollo-parser/test_data/parser/ok/0011_enum_type_extension.txt
  crates/apollo-parser/test_data/parser/ok/0012_fragment_definition.txt
  crates/apollo-parser/test_data/parser/ok/0014_input_definition.txt
  crates/apollo-parser/test_data/parser/ok/0015_input_extension.txt
  crates/apollo-parser/test_data/parser/ok/0019_object_type_extension.txt
  crates/apollo-parser/test_data/parser/ok/0021_operation_type_definition_with_arguments.txt
  crates/apollo-parser/test_data/parser/ok/0022_operation_type_definition_with_arguments_and_directives.txt
  crates/apollo-parser/test_data/parser/ok/0027_union_type_definition.graphql
  crates/apollo-parser/test_data/parser/ok/0027_union_type_definition.txt
  crates/apollo-parser/test_data/parser/ok/0028_union_type_definition_followed_by_object_definition.txt
  crates/apollo-parser/test_data/parser/ok/0029_union_type_extension.txt
  crates/apollo-parser/test_data/parser/ok/0030_values.txt
  crates/apollo-parser/test_data/parser/ok/0031_variables_with_default.txt
  crates/apollo-parser/test_data/parser/ok/0032_supergraph.txt
  crates/apollo-parser/test_data/parser/ok/0033_directive_on_argument_definition.txt
  crates/apollo-parser/test_data/parser/ok/0036_parses_variable_definition_with_list_type.txt
  crates/apollo-parser/test_data/parser/ok/0039_variable_with_directives.txt
  crates/apollo-parser/test_data/parser/ok/0041_implements_list.graphql
  crates/apollo-parser/test_data/parser/ok/0041_implements_list.txt
Labels: apollo-compiler

#723 chore(deps): update secops orb to v2.0.2
  .circleci/config.yml
Labels: dependencies

#725 Improve error span for lowercase_enum_value
  crates/apollo-compiler/src/validation/enum_.rs
Labels: apollo-compiler

#718 feat(parser, compiler): add parsing a type reference from a string
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/src/ast/from_cst.rs
  crates/apollo-compiler/src/ast/impls.rs
  crates/apollo-compiler/src/parser.rs
  crates/apollo-compiler/tests/field_type.rs
  crates/apollo-compiler/tests/main.rs
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/src/parser/grammar/mod.rs
  crates/apollo-parser/src/parser/mod.rs
  crates/apollo-parser/src/parser/syntax_tree.rs
Labels: apollo-parser, apollo-compiler
