Repository apollographql/apollo-rs, pull requests merged in 2023-04, with the labels that each got.

#510 apollo-compiler@0.7.2
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/README.md
Labels: apollo-compiler

#512 breaking(compiler): add parser's token limiting to compiler's API
  crates/apollo-compiler/src/database/ast.rs
  crates/apollo-compiler/src/database/inputs.rs
  crates/apollo-compiler/src/lib.rs
Labels: apollo-compiler

#483 feat(compiler): Add fragment definition validation
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/validation/fragment.rs
  crates/apollo-compiler/src/validation/selection.rs
  crates/apollo-compiler/src/validation/validation_db.rs
  crates/apollo-compiler/src/validation/variable.rs
  crates/apollo-compiler/test_data/diagnostics/0009_operation_with_undefined_variables_in_fragment.graphql
  crates/apollo-compiler/test_data/diagnostics/0009_operation_with_undefined_variables_in_fragment.txt
  crates/apollo-compiler/test_data/diagnostics/0011_syntactic_errors_from_parser.graphql
  crates/apollo-compiler/test_data/diagnostics/0045_operation_with_unused_variable_in_fragment.graphql
  crates/apollo-compiler/test_data/diagnostics/0045_operation_with_unused_variable_in_fragment.txt
  crates/apollo-compiler/test_data/diagnostics/0050_directives_in_invalid_locations.txt
  crates/apollo-compiler/test_data/diagnostics/0053_argument_name_is_not_defined.graphql
  crates/apollo-compiler/test_data/diagnostics/0053_argument_name_is_not_defined.txt
  crates/apollo-compiler/test_data/diagnostics/0054_argument_not_provided.graphql
  crates/apollo-compiler/test_data/diagnostics/0054_argument_not_provided.txt
  crates/apollo-compiler/test_data/diagnostics/0074_merge_identical_fields.graphql
  crates/apollo-compiler/test_data/diagnostics/0074_merge_identical_fields.txt
  crates/apollo-compiler/test_data/diagnostics/0075_merge_conflicting_args.graphql
  crates/apollo-compiler/test_data/diagnostics/0075_merge_conflicting_args.txt
  crates/apollo-compiler/test_data/diagnostics/0076_merge_differing_responses.graphql
  crates/apollo-compiler/test_data/diagnostics/0076_merge_differing_responses.txt
  crates/apollo-compiler/test_data/diagnostics/0086_unused_fragment.graphql
  crates/apollo-compiler/test_data/diagnostics/0086_unused_fragment.txt
  crates/apollo-compiler/test_data/diagnostics/0087_fragment_type_condition_on_composite_types.graphql
  crates/apollo-compiler/test_data/diagnostics/0087_fragment_type_condition_on_composite_types.txt
  crates/apollo-compiler/test_data/diagnostics/0088_fragment_selection_set.graphql
  crates/apollo-compiler/test_data/diagnostics/0088_fragment_selection_set.txt
  crates/apollo-compiler/test_data/diagnostics/0089_fragment_type_condition_on_non_existent_types.graphql
  crates/apollo-compiler/test_data/diagnostics/0089_fragment_type_condition_on_non_existent_types.txt
  crates/apollo-compiler/test_data/ok/0011_fragment_spreads_in_fragment_definitions.graphql
  crates/apollo-compiler/test_data/ok/0011_fragment_spreads_in_fragment_definitions.txt
  crates/apollo-compiler/test_data/ok/0013_operation_with_used_variable_in_fragment.graphql
  crates/apollo-compiler/test_data/ok/0013_operation_with_used_variable_in_fragment.txt
  crates/apollo-compiler/test_data/ok/0020_merge_identical_fields.graphql
  crates/apollo-compiler/test_data/ok/0020_merge_identical_fields.txt
  crates/apollo-compiler/test_data/ok/0021_merge_identical_fields_with_arguments.graphql
  crates/apollo-compiler/test_data/ok/0021_merge_identical_fields_with_arguments.txt
  crates/apollo-compiler/test_data/ok/0022_merge_differing_fields_and_args.graphql
  crates/apollo-compiler/test_data/ok/0022_merge_differing_fields_and_args.txt
Labels: apollo-compiler

#521 apollo-parser@0.5.1
  crates/apollo-parser/CHANGELOG.md
  crates/apollo-parser/Cargo.toml
  crates/apollo-parser/README.md
Labels: apollo-parser

#540 breaking(compiler): align extension getters to their type def counterparts
  crates/apollo-compiler/src/database/document.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/validation/enum_.rs
  crates/apollo-compiler/src/validation/input_object.rs
  crates/apollo-compiler/src/validation/interface.rs
  crates/apollo-compiler/src/validation/object.rs
  crates/apollo-compiler/src/validation/union_.rs
  crates/apollo-encoder/src/from_hir.rs
Labels: apollo-encoder, apollo-compiler
