Repository apollographql/apollo-rs, pull requests merged in 2023-01, with the labels that each got.

#403 fix(compiler): use #[salsa::transparent] for all find_ queries
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/database/inputs.rs
Labels: apollo-compiler

#404 chore(compiler): add benchmarks
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/benches/multi_source.rs
  crates/apollo-compiler/benches/testdata/simple_query.graphql
  crates/apollo-compiler/benches/testdata/simple_schema.graphql
  crates/apollo-compiler/benches/testdata/supergraph.graphql
  crates/apollo-compiler/benches/testdata/supergraph_query.graphql
Labels: apollo-compiler

#410 feat(compiler): add type alias for `compiler.snapshot()`
  crates/apollo-compiler/src/lib.rs
Labels: apollo-compiler

#412 breaking(compiler): rename create_* methods to add_*
  crates/apollo-compiler/README.md
  crates/apollo-compiler/benches/multi_source.rs
  crates/apollo-compiler/examples/file_watcher.rs
  crates/apollo-compiler/examples/hello_world.rs
  crates/apollo-compiler/examples/multi_source_validation.rs
  crates/apollo-compiler/src/database/ast.rs
  crates/apollo-compiler/src/database/document.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/tests.rs
  crates/apollo-compiler/src/validation/interface.rs
  crates/apollo-compiler/src/validation/object.rs
  crates/apollo-compiler/src/validation/operation.rs
  crates/apollo-compiler/src/validation/unused_variable.rs
Labels: apollo-compiler

#413 breaking(compiler): rename `{add,update}_schema` to `*_type_system`
  crates/apollo-compiler/README.md
  crates/apollo-compiler/benches/multi_source.rs
  crates/apollo-compiler/examples/multi_source_validation.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/lib.rs
Labels: apollo-compiler

#407 feat(compiler): introduce pre-computed type system input
  crates/apollo-compiler/src/database/ast.rs
  crates/apollo-compiler/src/database/document.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/database/inputs.rs
  crates/apollo-compiler/src/database/sources.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/validation/directive.rs
  crates/apollo-compiler/src/validation/input_object.rs
  crates/apollo-compiler/src/validation/interface.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/src/validation/object.rs
Labels: apollo-compiler

#415 breaking(compiler): unifying ty, type_def, kind naming in the HIR
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/validation/interface.rs
  crates/apollo-compiler/src/validation/object.rs
  crates/apollo-compiler/src/validation/union_.rs
Labels: apollo-compiler

#428 fix TryFrom impl to use the std Result
  crates/apollo-smith/src/enum_.rs
Labels: bug, apollo-smith

#432 apollo-smith@0.3.2
  crates/apollo-smith/CHANGELOG.md
  crates/apollo-smith/Cargo.toml
  crates/apollo-smith/README.md
Labels: apollo-smith

#417 feat(compiler): validate directive locations + undefined directives
  crates/apollo-compiler/README.md
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/lib.rs
  crates/apollo-compiler/src/validation/operation.rs
  crates/apollo-compiler/src/validation/validation_db.rs
  crates/apollo-compiler/test_data/diagnostics/0031_input_object_with_duplicate_fields.txt
  crates/apollo-compiler/test_data/diagnostics/0040_operation_with_undefined_fields_on_reference_type.graphql
  crates/apollo-compiler/test_data/diagnostics/0040_operation_with_undefined_fields_on_reference_type.txt
  crates/apollo-compiler/test_data/diagnostics/0046_duplicate_directive_arguments.graphql
  crates/apollo-compiler/test_data/diagnostics/0046_duplicate_directive_arguments.txt
  crates/apollo-compiler/test_data/diagnostics/0050_directives_in_invalid_locations.graphql
  crates/apollo-compiler/test_data/diagnostics/0050_directives_in_invalid_locations.txt
  crates/apollo-compiler/test_data/diagnostics/0051_undefined_directive.graphql
  crates/apollo-compiler/test_data/diagnostics/0051_undefined_directive.txt
  crates/apollo-compiler/test_data/ok/0010_operation_with_defined_fields.graphql
  crates/apollo-compiler/test_data/ok/0010_operation_with_defined_fields.txt
  crates/apollo-compiler/test_data/ok/0015_supergraph.graphql
  crates/apollo-compiler/test_data/ok/0015_supergraph.txt
Labels: apollo-compiler

#434 fix(compiler): don't deref op.operation_ty()
  crates/apollo-compiler/src/validation/validation_db.rs
Labels: apollo-compiler
