Repository apollographql/apollo-rs, pull requests merged in 2023-05, with the labels that each got.

#537 feat(compiler): variable usage is allowed
  CONTRIBUTING.md
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/validation/directive.rs
  crates/apollo-compiler/src/validation/enum_.rs
  crates/apollo-compiler/src/validation/field.rs
  crates/apollo-compiler/src/validation/fragment.rs
  crates/apollo-compiler/src/validation/input_object.rs
  crates/apollo-compiler/src/validation/interface.rs
  crates/apollo-compiler/src/validation/object.rs
  crates/apollo-compiler/src/validation/operation.rs
  crates/apollo-compiler/src/validation/scalar.rs
  crates/apollo-compiler/src/validation/schema.rs
  crates/apollo-compiler/src/validation/selection.rs
  crates/apollo-compiler/src/validation/union_.rs
  crates/apollo-compiler/src/validation/validation_db.rs
  crates/apollo-compiler/src/validation/variable.rs
  crates/apollo-compiler/test_data/diagnostics/0006_subscription_with_multiple_root_fields_in_inline_fragments.graphql
  crates/apollo-compiler/test_data/diagnostics/0007_operation_with_undefined_variables.txt
  crates/apollo-compiler/test_data/diagnostics/0008_operation_with_undefined_variables_in_inline_fragment.txt
  crates/apollo-compiler/test_data/diagnostics/0009_operation_with_undefined_variables_in_fragment.txt
  crates/apollo-compiler/test_data/diagnostics/0050_directives_in_invalid_locations.graphql
  crates/apollo-compiler/test_data/diagnostics/0050_directives_in_invalid_locations.txt
  crates/apollo-compiler/test_data/diagnostics/0056_variables_are_input_types.txt
  crates/apollo-compiler/test_data/diagnostics/0075_merge_conflicting_args.graphql
  crates/apollo-compiler/test_data/diagnostics/0075_merge_conflicting_args.txt
  crates/apollo-compiler/test_data/diagnostics/0087_fragment_type_condition_on_composite_types.txt
  crates/apollo-compiler/test_data/diagnostics/0088_fragment_selection_set.graphql
  crates/apollo-compiler/test_data/diagnostics/0088_fragment_selection_set.txt
  crates/apollo-compiler/test_data/diagnostics/0089_fragment_type_condition_on_non_existent_types.graphql
  crates/apollo-compiler/test_data/diagnostics/0089_fragment_type_condition_on_non_existent_types.txt
  crates/apollo-compiler/test_data/diagnostics/0090_fragment_spread_impossible.graphql
  crates/apollo-compiler/test_data/diagnostics/0090_fragment_spread_impossible.txt
  crates/apollo-compiler/test_data/diagnostics/0092_recursive_fragment_spread.txt
  crates/apollo-compiler/test_data/diagnostics/0101_mismatched_variable_usage.graphql
  crates/apollo-compiler/test_data/diagnostics/0101_mismatched_variable_usage.txt
  crates/apollo-compiler/test_data/ok/0031_fragment_spread_possible.graphql
  crates/apollo-compiler/test_data/ok/0031_fragment_spread_possible.txt
Labels: apollo-compiler

#553 fix(parser): variable definitions cannot be empty
  crates/apollo-parser/src/parser/grammar/variable.rs
  crates/apollo-parser/test_data/parser/err/0047_empty_variable_definition.graphql
  crates/apollo-parser/test_data/parser/err/0047_empty_variable_definition.txt
Labels: apollo-parser

#550 Validate coercible input
  crates/apollo-compiler/src/database/document.rs
  crates/apollo-compiler/src/database/hir.rs
  crates/apollo-compiler/src/database/hir_db.rs
  crates/apollo-compiler/src/diagnostics.rs
  crates/apollo-compiler/src/validation/directive.rs
  crates/apollo-compiler/src/validation/field.rs
  crates/apollo-compiler/src/validation/fragment.rs
  crates/apollo-compiler/src/validation/mod.rs
  crates/apollo-compiler/src/validation/validation_db.rs
  crates/apollo-compiler/src/validation/value.rs
  crates/apollo-compiler/src/validation/variable.rs
  crates/apollo-compiler/test_data/diagnostics/0075_merge_conflicting_args.graphql
  crates/apollo-compiler/test_data/diagnostics/0075_merge_conflicting_args.txt
  crates/apollo-compiler/test_data/diagnostics/0092_recursive_fragment_spread.txt
  crates/apollo-compiler/test_data/diagnostics/0102_invalid_string_values.graphql
  crates/apollo-compiler/test_data/diagnostics/0102_invalid_string_values.txt
  crates/apollo-compiler/test_data/ok/0032_valid_of_correct_type.graphql
  crates/apollo-compiler/test_data/ok/0032_valid_of_correct_type.txt
  crates/apollo-encoder/src/from_hir.rs
Labels: apollo-encoder, apollo-compiler

#565 fix(compiler): non-nullable variables should be accepted for nullable args
  crates/apollo-compiler/src/validation/value.rs
  crates/apollo-compiler/src/validation/variable.rs
  crates/apollo-compiler/test_data/diagnostics/0102_invalid_string_values.txt
  crates/apollo-compiler/test_data/ok/0033_valid_variable_usage.graphql
  crates/apollo-compiler/test_data/ok/0033_valid_variable_usage.txt
Labels: apollo-compiler

#566 apollo-compiler@0.9.2
  crates/apollo-compiler/CHANGELOG.md
  crates/apollo-compiler/Cargo.toml
  crates/apollo-compiler/README.md
Labels: apollo-compiler

#567 fix(compiler): nonnullable list variables in nullable args
  crates/apollo-compiler/src/validation/variable.rs
  crates/apollo-compiler/test_data/ok/0033_valid_variable_usage.graphql
  crates/apollo-compiler/test_data/ok/0033_valid_variable_usage.txt
Labels: apollo-compiler
